.container {
    height: 100%;
    display: flex;
}

.btn {
    position: absolute;
    right: 50px;
    top: 50px;
    background-color: blue;
    z-index: 9991;
    width: 200px;
    height: 100px;
}

.btn2 {
    position: absolute;
    left: 50px;
    bottom: 50px;
    background-color: green;
    z-index: 9991;
    width: 200px;
    height: 100px;
}

/* *********************************************** */
/* .svg-container {
    width: 24px;
    height: 24px;
    resize: both;
    overflow: hidden;
    border: 1px dashed #aaa;
}

svg {
    width: 100%;
    height: 100%;
} */

/* *********************************************** */