.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(84, 189, 255, 0.44);
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.container:hover{
    background-color: rgba(84, 189, 255, 0.7);
}
