.container {
    background-color: rgba(255, 0, 0, 0.253);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    border: 1px solid white;
}

.container_visible {
    display: block;
}

.container_hidden {
    display: none;
}

.modal {
    background-color: white;
    padding: 50px;
    position: absolute;

}

.modal_visible {
    animation: visible 400ms forwards 1, ease-in;
}

@keyframes visible {
    0% {
        left: var(--mouse-x);
        top: var(--mouse-y);
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.modal_hidden {
    animation: hidden 400ms forwards 1, ease-in;

}

@keyframes hidden {
    0% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        left: var(--mouse-x);
        top: var(--mouse-y);
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}